{
	"bot": {
		"prefix": "?",
		"token": "BOT TOKEN",
		"secret": "CLIENT SECRET",
		"id": "CLIENT ID",
		"commandLogging": true,
		"messageLogging": true,
		"status": {
			"mode": "dnd",
            "activity": "dbt.help"
		},
		"moderation": {
            "blackListing": {
                "enabled": true,
                "errorMessage": "Your server was blacklisted because it violated our terms of service!"
            }
        },
		"ver": "0.0.0"
	},
	"server": {
		"invite": "TJY6Xyg"
	},
	  "siteUrl": "SITE URL",
	  "port": "3000",
	  "db": {
		  "mongodb": "MONGODB"
	  },
	  "siteName": "DBOS",
	  "iconUrl": "https://github.com/wezacon/dbos/blob/main/public/img/logo.PNG?raw=true",
      "owner": "Seer#6054"
}