.badge {
    background: radial-gradient(circle,var(--dbtn-color) 0,var(--accent) 100%)!important;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}
.badge span.num {
    border-right: 1.4px solid var(--bg-1) !important;
    /* background: var(--bg-1); */
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
   /* height: 20px; */
}
.rounded {
    border-radius: 10px;
}
.dborder {
    border-radius: 3px;
}
.bold {
    font-weight: bold;
}

.smileOuter {
    position: relative;
    width: 45px !important;
    height: 40px !important;
}
.smile {
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    width: 45px !important;
    height: 40px !important;
    padding-bottom: 5px;
    background-image: url('https://raw.githubusercontent.com/wezacon/dbos/main/public/svg/f6949da2-781d-4fd5-81e6-smile.svg');
}
.smile.blue {
    background-color: #49a1ff;
}
.userIcon {
    position: relative;
}
.userIcon .teamBadge {
    position: absolute;
    left: 50%;
    margin-left: -65px;
    margin-top: -19px;
    font-weight: 600;
    font-size: .9em;
    width: 9em;
}
.userIcon .teamBadge span {
    display: table;
    margin: 0px auto;
    border-radius: 10px;
    padding: 2px 5px;
}
.admin span {
    color: #fff !important;
    background-color: var(--primary) !important;
    -webkit-box-shadow: inset 0px 0px 3px 0px var(--primary-dark) !important;
    -moz-box-shadow: inset 0px 0px 3px 0px var(--primary-dark) !important;
    -o-box-shadow: inset 0px 0px 3px 0px var(--primary-dark) !important;
    box-shadow: inset 0px 0px 3px 0px var(--primary-dark) !important;
}
.developerBadge {
    height: 27px !important;
    width: 33px !important;
    background: none !important;
}