.badge {
    background: radial-gradient(circle,var(--dbtn-color) 0,var(--accent) 100%)!important;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}
.badge span.num {
    border-right: 1.4px solid var(--bg-1) !important;
    /* background: var(--bg-1); */
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
   /* height: 20px; */
}
.rounded {
    border-radius: 10px;
}
.dborder {
    border-radius: 3px;
}
.bold {
    font-weight: bold;
}