<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DBOS - 404</title>
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/waves.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/foot.css">
  <link rel="stylesheet" href="/css/pageContent.css">
  <link rel="stylesheet" href="/css/comps.css">
  <link rel="shortcut icon" href="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true" type="image/x-icon">
  <meta name="theme-color" content="var(--bg-1)">
  <meta name="description" content="<%= SiteName %> - The discord bot for your server!">
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="<%= SiteName %>">
  <meta name="twitter:description" content="The discord bot for your server!">
  <meta name="twitter:image" content="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true">
  <meta property="og:title" content="<%= SiteName %>">
  <meta property="og:description" content="The discord bot for your server!">
  <meta property="og:image" content="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <div class="header">
  <div class="inner-header">
    <div class="title">
      <br>
      <br>
      <img class="error" src="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true">
      <h1>404</h1>
    </div>
    <div class="container">
      <a class='btn_main dbtn' href="/">
        Home
      </a>
    </div>
  </div>
  <br>
  <br>
  <div class="pageContent">
    <div class="headingSide"></div>
    <div class="heading">404</div>
    <div class="content">
      It seems like the requested page was not found...
        <div class="Buttons">
            <a href="/api/git"><i class="fa fa-github-square"></i></a>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="footer">
  <div id="button"></div>
  <div id="container">
    <div id="cont">
    <div class="footer_center">
      <a href="/wzc/team">
        <h3>© Wezacon.com</h3>
      </a>
    </div>
    </div>
</div>
</div>
</body>
</html>